@mixin scrollbar($_sb-bg: #fff, $_sb-thumb: #ccc, $_sb-width: 40px) {
  &::-webkit-scrollbar {
    width: $_sb-width;
    &-track {
      background-color: $_sb-bg;
    }
    &-thumb {
      background-color: $_sb-thumb;
    }
  }
}
