// % use snippet --> ibg

// <div class="$1__bg-wrap">
//   <div class="$1__bg-container .ibg">
//     <img src="$2" alt="$3">
//   </div>
// </div>

@mixin for_bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

@mixin for_bg-container {
  flex: 1 0 100%;
  position: relative;
}

@mixin ibg {
  .ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    img {
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}
