/* General settings */
.--page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;

    font-family: $font-family, sans-serif;
    font-size: $font-size;
    color: $font-color;
  }
}

.--wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  &__main {
    flex: 1 1 auto;
  }
}

.--container {
  position: relative;
  max-width: calc(($container-width + 30) * 1px);
  padding: 0 15px;
  margin: 0 auto;
}
