/* General settings */
.--page {
  // <html>
  height: 100%;
  -webkit-text-size-adjust: 100%;
  &__body {
    // <body>
    margin: 0;
    min-width: 320px;
    min-height: 100%;

    font-family: $_ff, sans-serif;
    font-size: $_fz;
    color: $_fc;
    background-color: $_bg;
  }
}

.--wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  &__main {
    flex: 1 1 auto;
  }
}

.--container {
  position: relative;
  max-width: calc(($_width + 30) * 1px);
  padding: 0 15px;
  margin: 0 auto;
}
